@mixin flexi {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

@mixin stylish {
    background-color: rgb(36,101,88);
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(38,42,68);
    color: white;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;

.player {
    @include flexi();
    width: 80vw;
    font-size: 1.5em;
    text-align: center;
}
}

article {
  @include flexi();

.info {
    font-size: 3em;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-around;
    width: 50vw;

button {
    @include stylish();
    padding: 10px 50px;
    font-size: 1.3em;
}
}
}

footer {
  input {
    @include stylish();
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 0.8em;
  }
  &:hover {
    opacity: 0.7;
  }
}

.darkWhite {
  background-color: white;
  color: black;
}

.rotate {
    transform: rotateY(180deg);
}

.anime {
    animation: myAnim 3s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(-45px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }